function shoot() {
    confetti({
        particleCount: 150,
        spread: 70,
        origin: { x: 0.2, y: 0.7 }
    });

    confetti({
        particleCount: 150,
        spread: 70,
        origin: { x: 0.8, y: 0.7 }
    });

    confetti({
        particleCount: 250,
        spread: 120,
        origin: { x: 0.5, y: 0.5 }
    });
}

shoot();
setTimeout(shoot, 300);
setTimeout(shoot, 600);
setTimeout(shoot, 900);
