*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{

    width:100%;
    height:100%;

}


body{

    overflow:hidden;

    font-family:"Arial",sans-serif;

}


.page{

    width:100vw;
    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    background:

    radial-gradient(circle at top,#ffd6e8,#ff9ec8),

    linear-gradient(
        135deg,
        #ffb6d9,
        #ff75b5
    );

}



.content{

    width:90%;

    max-width:600px;

    text-align:center;

    color:white;

    animation:appear 1s ease;

}



@keyframes appear{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}



.flower{

    font-size:80px;

    animation:bounce 2s infinite;

}



@keyframes bounce{

    50%{

        transform:translateY(-15px);

    }

}



h1{

    font-size:70px;

    margin:20px;

    text-shadow:0 5px 20px #d94b88;

}



h2{

    font-size:32px;

    font-weight:500;

    margin-bottom:50px;

}



.buttons{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:30px;

}



button{

    padding:18px 45px;

    border:none;

    border-radius:50px;

    font-size:22px;

    cursor:pointer;

    transition:

    transform .3s ease,

    box-shadow .3s ease;


}



button:hover{

    transform:scale(1.12);

}



#yes{

    background:white;

    color:#ff4f91;

    box-shadow:0 10px 30px #e75491;

}



#no{

    background:#ff4f91;

    color:white;

}



#message{

    margin-top:30px;

    font-size:20px;

}



@media(max-width:600px){


h1{

    font-size:45px;

}


h2{

    font-size:22px;

}


.buttons{

    flex-direction:column;

}


button{

    width:80%;

}


.flower{

    font-size:60px;

}


}
